<mat-card>
    <mat-card-content>
        <h2>Active Sites</h2>
          <table mat-table [dataSource]="data" class="mat-elevation-z8 demo-table mt-5">
          
            <ng-container matColumnDef="demo-siteName">
              <th mat-header-cell *matHeaderCellDef>Site</th>
              <td mat-cell *matCellDef="let element" ><button class="btn btn-light" (click)="addsite(element._id)" routerLink="/reportshome" >{{element.site}}</button></td>
              
            </ng-container>
          
            <ng-container matColumnDef="demo-date">
              <th mat-header-cell *matHeaderCellDef> Date </th>
              <td mat-cell *matCellDef="let element"> {{element.date | date: 'yyyy-MM-dd'}} </td>
            </ng-container>
            
            <ng-container matColumnDef="demo-action">
              <th mat-header-cell *matHeaderCellDef > Action </th>
              <td mat-cell *matCellDef="let element"> <button class="btn btn-danger" (click)="deleteSite(element._id)">Delete</button>&nbsp;</td>
              
            </ng-container>

           
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
          
        
    </mat-card-content>
</mat-card>


<mat-card>
  <mat-card-content>
      <h2>Completed  Sites</h2>
        <table mat-table [dataSource]="data" class="mat-elevation-z8 demo-table mt-5">
        
          <ng-container matColumnDef="demo-siteName">
            <th mat-header-cell *matHeaderCellDef>Site</th>
            <td mat-cell *matCellDef="let element" ><button class="btn btn-light" (click)="addsite(element._id)" routerLink="/reportshome" >{{element.site}}</button></td>
            
          </ng-container>
        
          <ng-container matColumnDef="demo-date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date | date: 'yyyy-MM-dd'}} </td>
          </ng-container>
          
          <ng-container matColumnDef="demo-action">
            <th mat-header-cell *matHeaderCellDef > Action </th>
            <td mat-cell *matCellDef="let element"> <button class="btn btn-danger" (click)="deleteSite(element._id)">Delete</button>&nbsp;</td>
            
          </ng-container>

         
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
        
      
  </mat-card-content>
</mat-card>